body {
  font-family: "Noto Sans Georgian", sans-serif;
  margin: 0;
  background-color: #0c0c10;
  color: #f6f5f5;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 32px;
}

#topArea {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.timerButton {
  font-size: 18px;
  padding: 5px 20px;
  background-color: transparent;
  border: none;
  color: #454864;
  cursor: pointer;
}

.timerButton.selected {
  color: #f6f5f5;
}

.timerButton.hidden {
  display: none;
}

#timer {
  font-size: 18px;
  padding: 5px;
  visibility: hidden;
  height: 24px;
  text-align: center;
}

.mainArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-10%);
}

#wordDisplay {
  font-size: 28px;
  line-height: 2;
  height: calc(2em * 3);
  width: fit-content;
  max-width: 70%;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  color: #454864;
  user-select: none;
  outline: none;
  position: relative;
}

#wordDisplay span.correct {
  color: #f6f5f5;
}
#wordDisplay span.incorrect {
  color: #e7414c;
}
#wordDisplay span.current {
  text-decoration: underline;
}

#lineContainer {
  display: inline-block;
  transition: transform 0.2s ease;
  will-change: transform;
}

#resetTestButton {
  padding: 10px;
  font-size: 23px;
  background-color: transparent;
  border: none;
  color: #454864;
  cursor: pointer;
  visibility: hidden;
  align-self: center;
}

#resetTestButton:hover {
  color: #f6f5f5;
}
